#left-part {
  font-size: 5rem;
  color: grey;
  //   transform: translateX(50%);
  width: 200%;
}

#right-part {
  width: 200%;
  //   width: 25%;
  font-size: 5rem;
  color: grey;
  transform: scaleX(-1) translateX(50%);
}
